.about-container {
    margin-top: 86px;
    min-height: calc(-106px + 100vh);
}



.about{
    background-color: var(--main-color);
}


.about{
    min-height: inherit;
}
.line{
    height: 4px;
    width: 80px;
    background-color: white;
    
}


.fa-solid, .fas {
    font-weight: 900;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}