<nav
    class="navbar navbar-expand-lg fixed-top py-4"
>
    <div class="container">
        <a class="navbar-brand text-white text-uppercase fw-bolder fs-2" href="#"> Start Framework </a>
        <button type="button" data-bs-toggl="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <i class="nav-item me-3">
                    <a routerLinkActive="active rounded-3" routerLink="about" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2">About</a>
                </i>
                <i class="nav-item me-3">
                    <a routerLinkActive="active rounded-3"  routerLink="portofolio" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2">Portofolio</a>
                </i>
                <i class="nav-item me-3">
                    <a routerLinkActive="active rounded-3" routerLink="contact" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2">Contact</a>
                </i>



            </ul>
        </div>
    </div>
   
</nav>

